*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background:#484747;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 4rem;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.movie{
    background-color: #dad8d8;
    border: solid black 2px;
    margin-top: 10px;
    width: 22%;
    font-weight: bold;
}
img{
    height: 300px;
    width: 100%;
}